{{#each books as |book|}}
<article class="article {{if class 'article_imgLeft'}} clearfix">
    <!-- image -->
    <figure class="article--img">
        <img src="{{book.thumb}}" alt="{{ book.title }}" />
    </figure>
    <!-- body -->
    <div class="article--body">
        <h2 class="article--title">{{ book.title }}</h2>
        <p class="text--secondary">{{ book.author }}</p>
    </div>
    <!-- footer -->
    <footer class="article--footer">
        <p><a href="#" class="link link_inlineBlock p_uppercase">Free sample</a><a href="#" class="link link_primary link_inlineBlock p_uppercase">Review</a></p>
    </footer>
</article>
{{/each}}