<a href="#main" class="visuallyhidden" tabindex="1">Skip to main content</a>

<div class="container">

    <header class="header" role="banner">
         <h1 class="header--title">My Books</h1> <span>{{toggle-widget}}</span>
    </header>

    <!-- insert navigation -->
    {{navbar-widget}}

    <div id="main" class="backdrop backdrop_smallOnly" role="main">
        <span></span>
        <div class="row">

            <!-- display column | Book article listing -->
            <section class="column">

                <article class="article article_welcome clearfix">
                    <div class="article--body clearfix">
                        <h2 class="article--title">Welcome back!</h2>
                        <p>Have you read any new books?</p>
                    </div>
                    <footer class="article--footer">
                        <!-- insert add a book widget -->
                        {{book-widget books=model.books}}
                    </footer>
                </article>

                <!-- Display stored books -->
                {{book-item books=model.books class=true}}

            </section>

            <section class="column">
                <!-- Display featured articles -->
                {{featured-items featured=model.featured feature=true}}
            </section>

        </div>

    </div>

</div>

